@page
@model Ganaderia.App.Presentacion.Pages.listModel
@{
  Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2 align="center"> Listado de ganaderos- @Model.usuarios</h2>

<table  class="table table-striped">
 
    <tr class="table-success">
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>NumeroTelefono</th>
    <th>Correo</th>
    <th>Contrasena</th>
    <th>Latitud</th>
    <th>Longitud</th>
  </tr>
  
  @foreach (var ganadero in Model.Ganaderos)
  {
    <tr class="bg-warning">
    <td>@ganadero.Nombres</td>
    <td>@ganadero.Apellidos</td>
    <td>@ganadero.NumeroTelefono</td>
    <td>@ganadero.Correo</td>
    <td>@ganadero.Contrasena</td>
    <td>@ganadero.Latitud</td>
    <td>@ganadero.Longitud</td>
    </tr>  
  }

</table>
