@page
@model Ganaderia.App.Presentacion.Pages.RegisterModel
@{
}
  <link rel="stylesheet" href="/lib/bootstrap.min.css">
  <script src="/lib/jquery-1.12.2.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>



<table  class="table table-striped">
    <tr class="table-success">
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>NumeroTelefono</th>
    <th>Correo</th>
    <th>Contrasena</th>
    <th>Latitud</th>
    <th>Longitud</th>
    </tr>
  @if (Model.Ganaderos != null)
  {
    @foreach (var ganadero in Model.Ganaderos)
    {
        <tr class="bg-warning">
        <td>@ganadero.Nombres</td>
        <td>@ganadero.Apellidos</td>
        <td>@ganadero.NumeroTelefono</td>
        <td>@ganadero.Correo</td>
        <td>@ganadero.Contrasena</td>
        <td>@ganadero.Latitud</td>
        <td>@ganadero.Longitud</td>
        </tr>
    }

  }


</table>

    <div class="container" align="center" class="font-weight-bold">
    <h3 class="font-weight-bold">Registro Ganadero</h3>
  <form method="post" class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-7">
        <input type="text" class="form-control" id="Nombres" placeholder="Ingrese Nombres" name="Nombres">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7">          
        <input type="text" class="form-control" id="Apellidos" placeholder="Ingrese Apellidos" name="Apellidos">
      </div>
    </div>
 <div class="form-group">
      <div class="col-sm-7">          
        <input type="text" class="form-control" id="NumeroTelefono" placeholder="Ingrese su numero de telefono" name="NumeroTelefono">
      </div>
    </div>
 <div class="form-group">
      <div class="col-sm-7">          
        <input type="text" class="form-control" id="Correo" placeholder="Ingrese su E-mail" name="Correo">
      </div>
    </div>


 <div class="form-group">
      <div class="col-sm-7">          
        <input align="center" type="text" class="form-control" id="Contrasena" placeholder="Ingrese la Contrasena" name="Contrasena">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7">          
        <input align="center" type="text" class="form-control" id="Longitud" placeholder="Ingrese la Longitud" name="Longitud">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7">          
        <input align="center" type="text" class="form-control" id="Latitud" placeholder="Ingrese la Latitud" name="Latitud">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-5">
        <button  type="submit" class="btn btn-success" asp-page-handler="Add">Registrar Ganadero</button>
      </div>
    </div>
  </form>
</div>
