@page
@model Ganaderia.App.Presentacion.Pages.EjemplaresModel
@{
  Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2 align="center"> Lista general de Ganado </h2>

<table  class="table table-striped">

    <tr class="table-success">
    <th>FechaIngresoAnimal</th>
    <th>Peso</th>
    <th>Edad</th>
    <th>NombreFinca</th>
    <th>Genero</th>
    <th>TipoGanado</th>
    <th>Raza</th>
  </tr>
  @if (Model.Ejemplares != null)
  {
    @foreach (var ejemplare in Model.Ejemplares)
    {
        <tr class="bg-warning">
        <td>@ejemplare.FechaIngresoAnimal</td>
        <td>@ejemplare.Peso</td>
        <td>@ejemplare.Edad</td>
        <td>@ejemplare.NombreFinca</td>
        <td>@ejemplare.Genero</td>
        <td>@ejemplare.TipoGanado</td>
        <td>@ejemplare.Raza</td>
        </tr>
    }
  }



</table>
