@page
@model Ganaderia.App.Presentacion.Pages.listVeterinariosModel
@{
  Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2 align="center"> Listado de Veterinarios</h2>

<table  class="table table-striped">
   <tr class="table-success">
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>NumeroTelefono</th>
    <th>Correo</th>
    <th>Contrasena</th>
    <th>TarjetaProfesional</th>
    <th>Especialidad</th>

  </tr>
  
  @foreach (var veterinario in Model.Veterinarios)
  {
    <tr class="bg-warning">
    <td>@veterinario.Nombres</td>
    <td>@veterinario.Apellidos</td>
    <td>@veterinario.NumeroTelefono</td>
    <td>@veterinario.Correo</td>
    <td>@veterinario.Contrasena</td>
    <td>@veterinario.TarjetaProfesional</td>
    <td>@veterinario.Especialidad</td>

    </tr>  
  }

</table>
