@page
@model Ganaderia.App.Presentacion.Pages.Register2Model
@{
  Layout = "~/Pages/Shared/_Layout.cshtml";
}

 <link rel="stylesheet" href="/lib/bootstrap.min.css">
  <script src="/lib/jquery-1.12.2.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>



    <table  class="table table-striped">
   <tr class="table-success">
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>NumeroTelefono</th>
    <th>Correo</th>
    <th>Contrasena</th>
    <th>TarjetaProfesional</th>
    <th>Especialidad</th>

  </tr>
  @if (Model.Veterinarios != null)
  {
    @foreach (var veterinario in Model.Veterinarios)
    {
        <tr class="bg-warning">
        <td>@veterinario.Nombres</td>
        <td>@veterinario.Apellidos</td>
        <td>@veterinario.NumeroTelefono</td>
        <td>@veterinario.Correo</td>
        <td>@veterinario.Contrasena</td>
        <td>@veterinario.TarjetaProfesional</td>
        <td>@veterinario.Especialidad</td>

        </tr>
    }
  }


</table>

    <div class="container" align="center" class="font-weight-bold">
  <h3 class="font-weight-bold">Registro Veterinario</h3>
  <form method="post" class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-7">
        <input type="text" class="form-control" id="Nombres" placeholder="Ingrese Nombres" name="Nombres">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7">          
        <input type="text" class="form-control" id="Apellidos" placeholder="Ingrese Apellidos" name="Apellidos">
      </div>
    </div>
 <div class="form-group">
      <div class="col-sm-7">          
        <input type="text" class="form-control" id="NumeroTelefono" placeholder="Ingrese su numero de telefono" name="NumeroTelefono">
      </div>
    </div>
 <div class="form-group">
      <div class="col-sm-7">          
        <input type="text" class="form-control" id="Correo" placeholder="Ingrese su E-mail" name="Correo">
      </div>
    </div>


 <div class="form-group">
      <div class="col-sm-7">          
        <input align="center" type="text" class="form-control" id="Contrasena" placeholder="Ingrese la Contrasena" name="Contrasena">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7">          
        <input align="center" type="text" class="form-control" id="Especialidad" placeholder="Ingrese la Especialidad" name="Especialidad">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-7">          
        <input align="center" type="text" class="form-control" id="TarjetaProfesional" placeholder="Ingrese su Numero de Tarjeta Profesional" name="TarjetaProfesional">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-5">
        <button  type="submit" class="btn btn-success" asp-page-handler="Add">Registrar Veterinario</button>
      </div>
    </div>
  </form>
</div>
